.screen {
  width: 30vh;
  height: 15vh;
  font-size: 2rem;
  padding: 1%;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.8);
}

.typed {
  width: 90%;
  height: 20%;
  color: white;
  text-align: right;
}

.operator {
  width: 10%;
  height: 20%;
  color: white;
  text-align: right;
}

.typing {
  width: 90%;
  height: 30%;
  color: white;
  text-align: right;
}
