input {
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
}

.formInput {
    display: flex;
    flex-direction: column;
    width: 280px;
}

label {
    font-size: 12px;
    color: gray;
}

span {
    color: red;
    font-size: 12px;
    padding: 2px;
    margin: 0px 0px 12px;
    display: none;
}

input:invalid[focused="true"] ~ span {
    display: block;
}

input:invalid[focused="true"] {
    border: 1px solid red;
}